{
    "swagger": "2.0",
    "info": {
        "version": "v2",
        "title": "Wio API v2",
        "description": "Wio IOT 平台是一款物联网应用平台，真正的WOT产品。Restful API帮助用户完成产品定义和部署。\n\n## 端点\nAPI请求的端点为\n\t\n    https://wio.seeed.io/v2\n    https://wio.forkthings.com/v2 (test)\n\t\n所有的返回都为json格式。\n\t\n\t\n## Token\n每个请求都需要带上认证信息，有两种方式携带认证信息。\n\n- 在`Header`添加`Authorization`，例如：\n\t\n\t\t  Authorization: token 313be000160b425baf933d47e12b1e9e\n\t\n- 在请求参数中添加`access_token`，例如：\n\n\t\thttps://wio.seeed.io/v2/user?access_token= 313be000160b425baf933d47e12b1e9e\n\t\t\n## 响应码\nAPI完全遵循HTTP 状态码协议规定，不同响应码：\n\n状态码 | 描述\n---|---\n200 | OK，正常响应\n201 | Created，资源创建成功\n202 | Accepted，请求已接受，后台服务正在处理\n302 | Retry，重定向\n400 | Error，出现错误，会带上错误消息\n403 | Forbidden，没有访问资源的权限\n404 | Not Found，没有发现资源\n405 | Method Not Allowed\n500 | Internal Server Error，系统错误，服务器停止\n\n## 错误消息\n`status code：400`\n\n  \t{\n  \t  \"error\": \"Invalid user\",\n  \t}\n\t\n## 时间格式\n时间采用`ISO8601`格式。如`YYYY-MM-DDTHH:MM:SSZ`\n"
    },
    "schemes": [
        "https"
    ],
    "host": "wio.forkthings.com",
    "paths": {
        "/v2/user": {
            "get": {
                "tags": [
                    "users"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "users"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/v2/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/users/{user_id}": {
            "get": {
                "tags": [
                    "users"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of user",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/user/token": {
            "get": {
                "tags": [
                    "users"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/user/{user_id}/token": {
            "get": {
                "tags": [
                    "users"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of user",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/things": {
            "get": {
                "tags": [
                    "things"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/thing"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "things"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "thing",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newThing"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/thing"
                        }
                    }
                }
            }
        },
        "/v2/things/{thing_id}": {
            "get": {
                "tags": [
                    "things"
                ],
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "summary": "获取节点设备信息",
                "parameters": [
                    {
                        "name": "thing_id",
                        "in": "path",
                        "description": "ID of thing",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/thing"
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "users"
        },
        {
            "name": "things"
        },
        {
            "name": "firmwares"
        }
    ],
    "securityDefinitions": {
        "access_token": {
            "type": "apiKey",
            "in": "query",
            "name": "access_token"
        }
    },
    "definitions": {
        "user": {
            "type": "object",
            "properties": {
                "user_id": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string",
                    "format": "dateTime"
                }
            }
        },
        "userToken": {
            "type": "object",
            "properties": {
                "user_id": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "expire": {
                    "type": "string",
                    "format": "dateTime"
                },
                "created_at": {
                    "type": "string",
                    "format": "dateTime"
                },
                "updated_at": {
                    "type": "string",
                    "format": "dateTime"
                }
            }
        },
        "newThing": {
            "type": "object",
            "required": [
                "board"
            ],
            "properties": {
                "board": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "thing": {
            "type": "object",
            "properties": {
                "thing_id": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                },
                "firmware_id": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "board": {
                    "type": "string"
                },
                "online": {
                    "type": "boolean"
                },
                "pp_id": {
                    "type": "string"
                },
                "page_url": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string",
                    "format": "dateTime"
                },
                "updated_at": {
                    "type": "string",
                    "format": "dateTime"
                }
            }
        }
    }
}