{
    "swagger": "2.0",
    "info": {
        "version": "0.0.1",
        "title": "Wio API v2"
    },
    "schemes": [
        "https"
    ],
    "host": "wio.forkthings.com",
    "paths": {
        "/v2/user": {
            "get": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/users": {
            "get": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/users/{user_id}": {
            "get": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of user",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/user/token": {
            "get": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/user/{user_id}/token": {
            "get": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of user",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/things": {
            "get": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "summary": "sd",
                "description": "sdf",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "access_token": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "thing",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newThing"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "access_token": {
            "type": "apiKey",
            "in": "query",
            "name": "access_token"
        }
    },
    "definitions": {
        "newThing": {
            "type": "object",
            "required": [
                "board"
            ],
            "properties": {
                "board": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        }
    }
}